.projectCard {
  min-height: auto;
  width: 420px;
}

.descriptionContainer {
  min-height: 240px;
}

.tagsContainer {
  max-height: 200px;
}

.gridOne {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (max-width: 445px) {
  .projectCard {
    min-height: auto;
    width: 360px;
  }
}
