.container {
  min-height: calc(100vh - 80px);
  width: 100%;
  margin-bottom: 14px;
}

.diagonal {
  --skew-angle: 10deg;
  position: absolute;
  isolation: isolate;
  top: 145px;
}

.diagonal::after {
  content: "";
  background: #5eb6f4;
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
